.header{width: 1200px;}
.main{width: 1200px;}
.playvideo{width: 1000px;}
.malivelist_mod{width: 1200px;}
.malivelist_mod ul li{width: 285px;}
.footma{width: 1200px;}
.pbbox{top: 400px;}
.fotmain{width: 1200px;}
.mainlive{width: 1200px;}
.heamain{width: 1200px;}
.header{background-size: 100% 100%;}
.erheader{width: 100% !important;}
.liveroom{width: 1200px;}
#video{height: 675px;}
.liveroom{height: 750px;}
.indexvideo{height: 560px !important;}
.listvideo ul li{height: 80px;}
.listvideo ul li .mb{height: 80.25px;}
.listvideo{height: 562px;}